.mat-expansion-panel-header{
    height: 90px;
}

.mat-expansion-panel-header-description{
    margin: 4px 0;
}

.mat-expansion-panel{
    margin: 10px;
}

.mat-expansion-panel-spacing{
    margin: 25px 5px;
}

.title{
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-grow: 1;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infos{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    margin-right: 20px;

}

.mat-progress-bar{
    width: 80%;
}
.details{
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
    font-style: italic;
}
