   <mat-expansion-panel>
        <mat-expansion-panel-header>
        <div class="container">
        <span class="title">
            <mat-panel-title>
                {{company}}
            </mat-panel-title>
            <mat-panel-description>
                {{title}}
            </mat-panel-description>
        </span>
        <span class="infos">
                <mat-panel-description>
                    Required level: {{level}}
                </mat-panel-description>
            <mat-progress-bar mode='determinate' value={{getLevel(value)}}></mat-progress-bar>
        </span>
        <span class="details">
            <span class="item">
                <mat-panel-description>
                <p class="color">{{Dateparser(date)}}</p> 
                </mat-panel-description>
            </span>
            <mat-divider [vertical] = true></mat-divider>
            <span class="item">
                <mat-panel-description>
                  <p>{{location}}</p>
                </mat-panel-description>
            </span>
        </span>
    </div>
        </mat-expansion-panel-header>
        <div>
            <app-details [content]='content' [url]='url' [company]='company' [id]='id'></app-details>
        </div>
    </mat-expansion-panel>

