.container{
    width: 100%;
    margin: 10px;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item  {
    display: flex;
    width: 200px;
}